<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="viewport" content="width=256"/>
        <title>Let's Clone FTL in AngularJS</title>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js'></script>
        <script src='src/app.js'></script>
        <script src='src/tickerService.js'></script>
        <script src='src/reactorService.js'></script>
        <script src='src/roomService.js'></script>
        <script src='src/shipService.js'></script>
        <script src='src/crewService.js'></script>
        <script src='src/tileService.js'></script>
        <script src="src/doorService.js"></script>
        <script src="src/shipController.js"></script>
        <script src="src/entityService.js"></script>
        <script src='src/pathfindingService.js'></script>
        <script src="src/primitives/vectorService.js"></script>
        <script src="src/primitives/boundsService.js"></script>
        <script src='src/random.js'></script>
        <style>
            * {
                outline: none;
                border: none;
                margin: 0;
                padding: 0;
                font-family: sans-serif;
                color: white;
                background: none;
            }
            button{
                border: 2px solid white;
                padding: 4px;
                padding-left: 8px;
                padding-right: 8px;
                border-bottom-right-radius: 8px;
            }
            body{
                background: linear-gradient(indigo 0%, black 100%);
                background-attachment: fixed;
            }
            .centerParent{
                display: flex;
                align-items: center;
                justify-content: center;                
            }
            .centerChild{
                position: relative;
            }
            .ship{
            }
            .ship > .crew{
                position: absolute;
                background-color: blue;
                width: 8px;
                height: 8px;
                margin: 4px;
                transition: left linear 0.25s, top linear 0.25s;
            }
            .ship > .crew.selected{
                box-shadow: 0px 0px 4px lime;
            }
            .room{
                position: absolute;
                background: 
                    repeating-linear-gradient(grey 0px, grey 1px, transparent 2px, transparent 14px, grey 15px, grey 16px),
                    repeating-linear-gradient(90deg, grey 0px, grey 1px, lightgrey 2px, lightgrey 14px, grey 15px, grey 16px);
                border: 2px solid beige;
                border-radius: 4px;
                margin: -2px;
                box-shadow: inset 0px 0px 8px black;
                background-position: -1px -1px;
            }
            .tile{
                position: absolute;
                background-color: lightgrey;
                width: 14px;
                height: 14px;
                border: 1px solid grey;
            }
            .door{
                margin: -1px;
                position: absolute;
            }
            .door:not(.vertical){
                width: 16px;
                height: 2px;
                margin-left: 0px;
                background: linear-gradient(90deg, beige 0px, beige 2px, black 3px, grey 7px, black 8px, grey 9px, black 13px, beige 14px);
            }
            .door.vertical{
                width: 2px;
                height: 16px;
                margin-top: 0px;
                background: linear-gradient(beige 0px, beige 2px, black 3px, grey 7px, black 8px, grey 9px, black 13px, beige 14px);
            }
            .fire{
                position: absolute;
                margin: 2px;
                border: 6px solid transparent;
                border-bottom-width: 12px;
                border-bottom-color: yellow;
                border-top-width: 0px;
            }
        </style>
        <script src="lib/prefixfree.min.js"></script>
    </head>
    <body ng-app='app' ng-controller='test'>
        <h1>Let's Clone FTL in AngularJS</h1>
        <h2>Please note that the author, blog and project are not affiliated with AngularJS or FTL.</h2>
        <div>{{status}}</div>
        <div class="centerParent">
            <div class="centerChild ship">
                <div class="room" ng-click="roomClick(room);" ng-repeat="room in rooms" ng-style="{left: room.left * 16 + 1 + 'px', top: room.bottom * 16 + 1 + 'px', width: (room.right - room.left) * 16 - 2 + 'px', height: (room.top - room.bottom) * 16 - 2 + 'px'}"></div>
                <div class="door" ng-class="{vertical: door.vertical}" ng-style="{left: door.x * 16 + 'px', top: door.y * 16 + 'px'}" ng-repeat="door in doors">
                    
                </div>
                <div class="crew" ng-repeat="crew in crew" ng-class="{selected: crew.selected}" ng-style="{left: crew.displayLocation.x * 16 + 'px', top: crew.displayLocation.y * 16 + 'px'}">
                </div>
                <div class="fire" ng-repeat="fire in fires" ng-style="{left: fire.x * 16 + 'px', top: fire.y * 16 + 'px'}">
                </div>
            </div>
        </div>    
        <button ng-click="tickerService.togglePause();">{{tickerService.paused() ? 'Unpause' : 'Pause'}}</button>
        <h3>Crew</h3>
        <div ng-repeat="member in crew">
            <input type="checkbox" ng-model="member.selected"></input>
            Name: {{member.name}}
        </div>
        <button ng-click="addCrew();">Add...</button>
    </body>
</html>